@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 calc((100vw - 1240px) / 2);
}
header {
  background: linear-gradient(88deg, #0909092e, #0909092e);
  width: 100%;
  position: fixed;
  top: 0px;
  transition: all .3s ease;
  z-index: 10;
  .head_wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    .logo {
      color: white;
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      font-weight: 600;
      margin-right: 50px;
    }
    nav {
      a {
        font-size: 1.1rem;
        padding: 0 1rem;
      }
    }
    .barger {
      color: white;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
    }
  }
}
.header_active{
  background-color: #424242;
}

@media (max-width: 813px) {
  header {
    background-color: #424242;
    .head_wrapper {
      position: relative;
      justify-content: space-between;
      nav {
        position: absolute;
        background: rgb(58 57 57);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 67px;
        left: -815px;
        transition: all 0.3s ease;
        a {
          padding: 1rem 0;
        }
      }
      .toggle_nav {
        left: 0;
      }
      .barger {
        display: block;
      }
    }
  }
}
// hero section --------------------------------------------
.hero_wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .cerousel_btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
  }
  .left {
    left: 5%;
  }
  .right {
    right: 5%;
  }
  .cerousel {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.4s ease-in-out;
    .slide {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      .slide_wrapper {
        position: relative;
        list-style: none;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        .slider_text_wrapper {
          position: absolute;
          color: white;
          top: 50%;
          left: 20%;
          transform: translateY(-50%);
          h3 {
            font-size: clamp(2rem, 4vw, 4rem);
            font-weight: 200;
          }
          h1 {
            font-size: clamp(2.5rem, 5vw, 5rem);
          }
        }
      }
    }
  }
}

// service section -----------------------------
.service_wrapper {
  padding: 4rem 1rem;
}
.title_box {
  line-height: 30px;
  padding:4rem 0;
  h1 {
    position: relative;
    padding-left: 2rem;
    font-size: 1.7rem;
    font-weight: 400;
    &::after {
      content: "";
      background-color: black;
      width: 25px;
      height: 1px;
      position: absolute;
      top: 20px;
      left: 0px;
    }
  }
  p {
    color: #90849f;
  }
}

.service_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  .service {
    text-align: center;
    height: 321px;
    padding: 4rem 3rem;
    border: 1px solid rgb(229, 229, 229);
    transition: all .3s ease;
    position: relative;
    .icon{
      width: 75px;
      margin: auto;
      transition: all .4s ease;
      transform: translateY(35px);
      img{
        width: 100%;
      }
    }
    a {
      color: black;
      display: block;
      font-size: 1.7rem;
      transition: all .4s ease;
      transform: translateY(-35px);
    }
    p {
      color: rgb(95 93 93);
      font-size: 0.8rem;
      transition: all .4s ease;
      padding: 1rem 0;
      opacity: 0;
    }
    &:hover{
      box-shadow: 0px 0px 10px 0px #bababa;
    }
    &:hover .icon{
      width: 60px;
      transform: translateY(0);
    }
    &:hover a{
      font-size: 1.3rem;
      transform: translateY(0);
    }
    &:hover p{
      opacity: 1;
    }
  }
}
@media(max-width:940px){
  .service_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:769px){
  .service_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}

// blog section ---------------------------
#blog{
  padding: 5rem 0;
}
.blog_wrapper{
  padding: 1rem;
  .title_wrap{
    background-color: #f2f4f5;
  }
}
.blogs{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  .blog{
    text-align: center;
    .blog_img{
      height: 262px;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .blog_desc{
      span{
        color: #424242;
      }
      h3{
        font-weight: 400;
        padding: 1rem 0;
      }
      p{
        color: #424242;
      }
    }
  }
}
@media(max-width:769px){
  .blogs{
    grid-template-columns: repeat(1, 1fr);
  }
}