@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  padding: 0 calc((100vw - 1240px) / 2);
}

header {
  background: linear-gradient(88deg, rgba(9, 9, 9, 0.1803921569), rgba(9, 9, 9, 0.1803921569));
  width: 100%;
  top: 0px;
  transition: all 0.3s ease;
  z-index: 10;
}
header .head_wrapper {
  padding: 1rem;
  display: flex;
  align-items: center;
}
header .head_wrapper .logo {
  color: white;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 600;
  margin-right: 50px;
}
header .head_wrapper nav a {
  font-size: 1.1rem;
  padding: 0 1rem;
}
header .head_wrapper .barger {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.header_active {
  background-color: #424242;
}

@media (max-width: 813px) {
  header {
    background-color: #424242;
  }
  header .head_wrapper {
    position: relative;
    justify-content: space-between;
  }
  header .head_wrapper nav {
    position: absolute;
    background: rgb(58, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    top: 67px;
    left: -815px;
    transition: all 0.3s ease;
  }
  header .head_wrapper nav a {
    padding: 1rem 0;
  }
  header .head_wrapper .toggle_nav {
    left: 0;
  }
  header .head_wrapper .barger {
    display: block;
  }
}
.hero_wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.hero_wrapper .cerousel_btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.hero_wrapper .left {
  left: 5%;
}
.hero_wrapper .right {
  right: 5%;
}
.hero_wrapper .cerousel {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.4s ease-in-out;
}
.hero_wrapper .cerousel .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
.hero_wrapper .cerousel .slide .slide_wrapper {
  position: relative;
  list-style: none;
  width: 100%;
  height: 100%;
}
.hero_wrapper .cerousel .slide .slide_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.hero_wrapper .cerousel .slide .slide_wrapper .slider_text_wrapper {
  position: absolute;
  color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
}
.hero_wrapper .cerousel .slide .slide_wrapper .slider_text_wrapper h3 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 200;
}
.hero_wrapper .cerousel .slide .slide_wrapper .slider_text_wrapper h1 {
  font-size: clamp(2.5rem, 5vw, 5rem);
}

.service_wrapper {
  padding: 4rem 1rem;
}

.title_box {
  line-height: 30px;
  padding: 4rem 0;
}
.title_box h1 {
  position: relative;
  padding-left: 2rem;
  font-size: 1.7rem;
  font-weight: 400;
}
.title_box h1::after {
  content: "";
  background-color: black;
  width: 25px;
  height: 1px;
  position: absolute;
  top: 20px;
  left: 0px;
}
.title_box p {
  color: #90849f;
}

.service_wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.service_wrap .service {
  text-align: center;
  height: 321px;
  padding: 4rem 3rem;
  border: 1px solid rgb(229, 229, 229);
  transition: all 0.3s ease;
  position: relative;
}
.service_wrap .service .icon {
  width: 75px;
  margin: auto;
  transition: all 0.4s ease;
  transform: translateY(35px);
}
.service_wrap .service .icon img {
  width: 100%;
}
.service_wrap .service a {
  color: black;
  display: block;
  font-size: 1.7rem;
  transition: all 0.4s ease;
  transform: translateY(-35px);
}
.service_wrap .service p {
  color: rgb(95, 93, 93);
  font-size: 0.8rem;
  transition: all 0.4s ease;
  padding: 1rem 0;
  opacity: 0;
}
.service_wrap .service:hover {
  box-shadow: 0px 0px 10px 0px #bababa;
}
.service_wrap .service:hover .icon {
  width: 60px;
  transform: translateY(0);
}
.service_wrap .service:hover a {
  font-size: 1.3rem;
  transform: translateY(0);
}
.service_wrap .service:hover p {
  opacity: 1;
}

@media (max-width: 940px) {
  .service_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 769px) {
  .service_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
#blog {
  padding: 5rem 0;
}

.blog_wrapper {
  padding: 1rem;
}
.blog_wrapper .title_wrap {
  background-color: #f2f4f5;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.blogs .blog {
  text-align: center;
}
.blogs .blog .blog_img {
  height: 262px;
}
.blogs .blog .blog_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .blog .blog_desc span {
  color: #424242;
}
.blogs .blog .blog_desc h3 {
  font-weight: 400;
  padding: 1rem 0;
}
.blogs .blog .blog_desc p {
  color: #424242;
}

@media (max-width: 769px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
.programs_wrapper {
  background: url(./img/perallex.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s ease;
  background-attachment: fixed;
  padding: 4rem 0;
}
.programs_wrapper .title_box {
  color: white;
}
.programs_wrapper .title_box h1::after {
  background-color: white;
}
.programs_wrapper .title_box p {
  color: white;
}
.programs_wrapper .table_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}
.programs_wrapper .table_wrapper .table .table_desc {
  border: 1px solid #bababa;
  color: #bababa;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
}
.programs_wrapper .table_wrapper .table .table_desc h1 {
  font-size: 5rem;
  font-weight: 200;
  padding: 2rem 0;
}
.programs_wrapper .table_wrapper .table .table_desc p {
  padding: 1rem 0;
}
.programs_wrapper .table_wrapper .table .table_desc:hover {
  color: white;
  border: 1px solid white;
}
.programs_wrapper .table_wrapper .table button {
  border: 1px solid #171f31;
  font-size: 1rem;
  padding: 0.9rem 1.5rem;
  border-radius: 20px;
  background: #171f31;
  color: white;
  display: block;
  margin: 35px auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
.programs_wrapper .table_wrapper .table button:hover {
  border: 1px solid #111724;
  background: #111724;
  transform: translateY(-10px);
}/*# sourceMappingURL=style.css.map */